.light{
  --neutral-0: #0d0d0d;
  --neutral-1: #141414;
  --neutral-2: #1f1f1f;
  --neutral-3: #262626;
  --neutral-4: #2e2e2e;
  --neutral-5: #434343;
  --neutral-6: #727272;
  --neutral-7: #979797;
  --neutral-8: #c4c4c4;
  --neutral-9: #dddddd;
  --neutral-10: #fafafa;
}
:root {
  --neutral-10: #0c0c0c;
  --neutral-9: #161617;
  --neutral-8: #1c1d23;
  --neutral-7: #262626;
  --neutral-6: #2e2e2e;
  --neutral-5: #434343;
  --neutral-4: #727272;
  --neutral-3: #979797;
  --neutral-2: #c4c4c4;
  --neutral-1: #dddddd;
  --neutral-0: #fafafa;

  // --primary: #66FF00;
  // --secondary: #46CB18;
  // --yellow: #FFFF00;

  --primary-dark: #222c3d;
  --primary: #0062ff;
  --secondary: #3783ff;
  --yellow: #ff337e;
  --amber: #f8ba00;

  --blue-1: #0043FF;
  --blue-2: #0017FF;
  --blue-3: #1B02A4;

  --black: #000;
  --white: #fff;

  --text: var(--neutral-9);

  --indigo: #586ada;
  --bg-indigo: #d5daf6;
  --light-indigo: #678ef1;
  --cerulean: #ceedfd;
  --bg-cerulean: #067ab8;
  --light-cerulean: #3a97d4;
  --moss: #09815c;
  --bg-moss: #cffcee;
  --light-moss: #1ba672;
  --lime: #0d9900;
  --bg-lime: #cffcdc;
  --light-lime: #02d602;
  --amber: #bb5506;
  --bg-amber: #fde2ce;
  --light-amber: #d97919;
  --red: #c44c35;
  --bg-red: #f4dcd7;
  --light-red: #e56f49;
  --crimson: #cd3d64;
  --bg-crimson: #f5d6de;
  --light-crimson: #ed5f74;
  --purple: #a44fb5;
  --bg-purple: #ecdbf0;
  --light-purple: #c66bce;
  --violet: #825fc3;
  --bg-violet: #e2daf1;
  --light-violet: #9c82db;

  // --w3m-accent-color: var(--neutral-8)!important;
  // --w3m-background-color:var(--neutral-10)!important;

  // --w3m-color-fg-1:var(--text)!important;
  // --w3m-color-fg-2:var(--neutral-8)!important;
  // --w3m-color-fg-3:var(--neutral-7)!important;

  // --w3m-color-bg-1:var(--neutral-6)!important;
  // --w3m-color-bg-2:var(--neutral-10)!important;
  // --w3m-color-bg-3:var(--neutral-8)!important;

  // --w3m-color-overlay:var(--neutral-8)!important;
  // --w3m-accent-fill-color:var(--neutral-4)!important;
}
