$x-large: 1600px;
$large: 1400px;
$content: 1200px;
$medium: 960px;
$ui-width: 850px;
$sidebar-breakpoint: 700px;
$small: 756px;
$x-small: 500px;

$sidebar: 280px;

$r: 1.62;

$font-large: 60px;
$font-medium: $font-large / #{$r};
$font-small: $font-medium / #{$r};
$title-line-height: 1.1;

$title: "Orbitron", mono;
$font-family: "Orbitron", Arial, Helvetica, sans-serif;
$sans-serif: "Manrope", Arial, Helvetica, sans-serif;

$radius0: 10px;
$radius1: 8px;
$radius2: 6px;
$radius3: 4px;
$radius4: 2px;

:root {
  --wui-font-weight-light: 400;
  --wui-font-weight-regular: 500;
  --wui-font-weight-medium: 500 !important;
  --wui-font-weight-bold: 700;
  --wui-cover: rgba(4, 4, 4, 0.8) !important;
}
