.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  gap: 10px;


  .tag {
    padding: 4px 10px;
    border-radius: 8px;
    background: var(--blue-4);
    color: var(--secondary);
    display: flex;
    align-items: center;
    gap: 2px;

    &.category {
      text-transform: capitalize;
      background: var(--moss);
      color: var(--bg-moss);
    }
  }

}

.hasher-name-organiser {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px 10px 10px;
  box-shadow: 0 0 0 1px var(--neutral-6);
  border-radius: 100px;

  h2 {
    margin: 0;
  }

  .wallet-logo {
    height: 2.5rem;
  }
}

.hasher-name-organiser-post-view {
  display: inline-grid;
  gap: 2px 10px;
  align-items: center;
  padding: 10px 20px 10px 10px;
  box-shadow: 0 0 0 1px var(--neutral-5);
  border-radius: 100px;
  margin-right: auto;
  width: max-content;
  max-width: 300px;

  @media (max-width:$x-small) {
    max-width: 80vw;
  }

  h2 {
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.2rem;
  }

  small {
    grid-column: 2/3;
    grid-row: 2/3;
    color: var(--neutral-3);
    font-size: .7rem;
  }

  .wallet-logo {
    height: 2.5rem;
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
