@keyframes pop-in {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideInToLeft {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.flex-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 20px 120px 20px;
  margin-bottom: auto;
  width: $ui-width;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $x-small) {
    max-width: 95vw;
    width: 95vw;
  }
  &.column {
    flex-direction: column;
  }
  h1{
    display: flex;gap:15px;
  align-items: center;
    img{
      height:80px;
      max-width:80px;
      border-radius: 5px;
    }
  }
  .invisible {
    opacity: 0;
  }
  .ui-ele {
    opacity: 0;
    transform: scale(0.95);
    transform-origin: 50% 0%;
    animation: pop-in 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    @for $i from 2 through 50 {
      &:nth-of-type(#{$i}) {
        animation-delay: #{$i * 50}ms;
        grid-row: 1/3;
      }
    }
    &.front{
      z-index: 999;
    }
    &.align-bottom {
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }
  .block {
    .data {
      font-family: $sans-serif;
      font-size: 24px;
      font-weight: 800;
      color: var(--secondary);
      // line-break: anywhere;
    }
    .sub {
      opacity: 0.5;
    }
    .title {
      // text-transform: uppercase;
      font-size: calc(24px / 1.62);
    }
    &.small {
      display: grid;
      align-content: center;
      gap: 20px;
      justify-items: center;
      padding: 20px;
      border-radius: 30px;
      background-color: var(--neutral-10);
      text-align: center;
      min-width: 150px;
      width: calc(25% - 15px);
      margin-bottom: auto;

      @media (max-width: $content) {
        width: calc(25% - 20px);
      }
      @media (max-width: $medium) {
        width: calc(33% - 15px);
      }
      @media (max-width: $small) {
        width: calc(50% - 10px);
      }
      @media (max-width: $x-small) {
        width: 100%;
      }
      .head {
        display: grid;
        gap: 5px;
      }
      h3,
      h4 {
        margin: 0;
      }
      h4 {
        color: var(--neutral-4);
      }
    }
    &.half {
      display: grid;
      align-content: center;
      width: calc(50% - 10px);
      gap: 20px;
      justify-items: center;
      padding: 20px;
      border-radius: 30px;
      background-color: var(--neutral-9);
      text-align: center;
      min-width: 240px;
      margin-bottom: auto;
      // @media (max-width: $content) {
      //   width: calc(25% - 20px);
      // }
      @media (max-width: $medium) {
        width: 100%;
      }
      @media (max-width: $small) {
        width: 100%;
      }
      @media (max-width: $x-small) {
        width: 100%;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        tr {
          &:hover {
            &.good-hover {
              td {
                position: relative;
                &:first-of-type {
                  &::before {
                    border-radius: 100px 0 0 100px;
                  }
                }
                &:last-of-type {
                  &::before {
                    border-radius: 0 100px 100px 0;
                  }
                }
                &::before {
                  content: "";
                  background-color: var(--light-moss);
                  height: 100%;
                  width: 100%;
                  top: 0;
                  left: 0;
                  opacity: 0.2;
                  position: absolute;
                }
              }
            }
            &.bad-hover {
              td {
                position: relative;
                &:first-of-type {
                  &::before {
                    border-radius: 100px 0 0 100px;
                  }
                }
                &:last-of-type {
                  &::before {
                    border-radius: 0 100px 100px 0;
                  }
                }
                &::before {
                  content: "";
                  background-color: var(--crimson);
                  height: 100%;
                  width: 100%;
                  top: 0;
                  left: 0;
                  opacity: 0.2;
                  position: absolute;
                }
              }
            }
          }
          td {
            text-align: left;
            padding: 4px 12px;
            &:last-of-type {
              text-align: right;
            }
          }
          &:first-of-type {
            td {
              font-weight: 800;
              opacity: 0.5;
              padding-bottom: 0.5rem;
            }
          }
        }
      }
      .head {
        display: grid;
        gap: 5px;
      }
      h3,
      h4 {
        margin: 0;
      }
      h4 {
        color: var(--neutral-4);
      }
    }
    &.tile {
      display: flex;
      align-content: center;
      width: max-content;
      gap: 20px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      padding: 20px;
      border-radius: 30px;
      background-color: var(--neutral-10);
      // text-align: center;

      .head {
        display: grid;
        gap: 5px;
      }
      h3,
      h4 {
        margin: 0;
      }
      h4 {
        color: var(--neutral-4);
      }
    }
    &.asset-complicated {
      text-align: left;
      // justify-items: start;
      margin-bottom: auto;
      align-content: start;
      gap: 30px;
      @media (min-width: $large) {
        // width: calc(20% - 20px);
      }
      @media (min-width: $x-large) {
        max-width: 380px;
      }

      .head {
        display: grid;
        grid-template: 1fr auto / auto auto auto;
        gap: 10px 20px;
        align-items: center;
        .type {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 800;
          color: var(--neutral-4);
          grid-row: 1/2;
          grid-column: 2/3;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 5px 10px;
          .badge {
            box-shadow: 0 0 0 2px;
            padding: 2px 6px;
            border-radius: 100px;
            font-size: 80%;
            font-weight: 600;
            display: inline-block;
            text-align: center;
          }
        }
        .star {
          color: var(--amber);
        }
        .title {
          font-size: 18px;
          grid-row: 2/3;
          grid-column: 2/3;
        }
      }
      .body {
        display: grid;
        gap: 10px;
        .data {
          font-family: $sans-serif;
          color: var(--neutral-1);
          font-weight: 400;
        }
      }
      .graph {
        height: 50px;
        width: calc(100% - 5px);
        background: var(--neutral-10);
        border-radius: 10px;
      }
    }
  }
  &.compact {
    .block {
      &.small {
        width: calc(25% - 15px);
        min-width: 180px;

        @media (max-width: $content) {
          width: calc(50% - 10px);
        }
        @media (max-width: $medium) {
          width: calc(50% - 10px);
        }
        @media (max-width: $small) {
          width: 100%;
        }
      }
    }
  }
}

.icon-group {
  display: grid;
  grid-template-columns: repeat(50, auto);
  grid-template-rows: 1fr 5px;
  align-items: end;
  grid-row: 1/3;
  img {
    height: 40px;
    border-radius: 40px;
    grid-row: 1/2;
    box-shadow: -5px 0px 12px -1px var(--black);
    background-color: var(--neutral-5);
    margin-left: 25px;
    @for $i from 2 through 50 {
      &:nth-of-type(#{$i}) {
        grid-column: #{$i}/#{$i + 1};
        grid-row: 1/3;
      }
    }
    &:first-of-type {
      height: 40px;
      grid-column: 1/3;
      margin-left: 0px;
    }
    &:last-of-type {
      height: 25px;
      background-color: var(--neutral-1);
    }
  }
}

.good {
  color: var(--light-moss);
  &.plus {
    &::before {
      content: "+";
    }
  }
}
.bad {
  color: var(--crimson);
}
.good,
.bad {
  &.pc {
    &::after {
      content: "%";
    }
  }
}

.switch-indicator {
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 100px;
  box-shadow: 0 0 0 2px;
  padding: 3px;
  margin: auto 10px;

  &::before {
    content: "";
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--neutral-5);
    display: block;
    border-radius: 100px;
    transition: 200ms ease;
  }

  &.on {
    box-shadow: 0 0 0 2px var(--moss);

    &::before {
      transform: translateX(calc(100% + 6px));
      background: var(--light-moss);
    }
  }
}

.head-span-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: baseline;
  gap: 30px;
  width: 100%;
}

.tabs-switcher {
  display: flex;
  box-shadow: 0 0 0 1px var(--neutral-6);
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  &::before {
    content: attr(data-label);
    position: absolute;
    top: -20px;
    font-size: 11px;
    color: var(--neutral-5);
    text-transform: uppercase;
    font-weight: 800;
  }
  .tab {
    padding: 10px;
    color: var(--neutral-3);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 100ms ease;
    &:first-of-type {
      padding-left: 20px;
      &.active {
        &::after {
          left: 0px;
          width: calc(100% + 4px);
          border-radius: 10px 0 0 10px;
        }
      }
    }
    &:last-of-type {
      padding-right: 20px;
      &.active {
        &::after {
          left: -2px;
          width: calc(100% + 4px);
          border-radius: 0 10px 10px 0;
        }
      }
    }
    &:not(.active) {
      &:hover {
        color: var(--neutral-0);
      }
    }
    &.active {
      color: var(--neutral-1);
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -2px;
        height: 100%;
        width: calc(100% + 4px);
        z-index: -1;
        background: var(--neutral-6);
        // border-radius: 4px;
      }
    }
  }
}
.page-inner {
  max-width: $ui-width;
  width: 100%;
  height: max-content;
  position: absolute;
  margin: 40px auto;
  z-index: 3;
  border-radius: 20px;
  background: var(--neutral-8);
  box-shadow: 0 20px 200px -100px var(--black);
  padding: 30px;
  h1 {
    margin-top: 0;
    text-align: center;
  }
  .container {
    position: relative;
    // padding: 20px;
    box-shadow: unset;
    .img {
      border-radius: 20px;
      &.overlap-lower {
        max-width: 75%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        animation: lobAround 10s linear alternate infinite;
      }
      &.overlap-upper {
        max-width: 75%;
        position: relative;
        margin: -50% 0px auto auto;
        z-index: 2;
        box-shadow: 0 0px 80px var(--black);
        animation: lobAround 10s linear alternate-reverse infinite;
      }
      @keyframes lobAround {
        100% {
          transform: translate(5px, -20px);
        }
      }
    }
    .text-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      text-align: center;
      z-index: 2;
      border-radius: 20px;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      box-shadow: 0 0px 80px var(--black);
      width: max-content;
      height: max-content;
      max-width: 80%;
      padding: 0 20px;
    }
  }
}
[data-copy] {
  cursor: pointer;
}
.icon-stack {
  &.horizontal {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    align-items: center;
    width: max-content;
    img {
      height: 30px;
      &:nth-of-type(1) {
        height: 20px;
        z-index: 0;
      }
      aspect-ratio: 1/1;
      border-radius: 50px;
      position: relative;
      @for $i from 2 through 50 {
        &:nth-of-type(#{$i}) {
          z-index: $i;
          margin-right: -5px * ($i - 1);
          box-shadow: 15px 0px 20px -10px var(--neutral-9);
        }
      }
    }
  }
}

.demo {
  .ui-ele > *,
  iframe,
  .blur-container,
  .item {
    animation: toBlur 2s 1500ms ease forwards 1;
  }

  @keyframes toBlur {
    100% {
      filter: blur(10px);
    }
  }
  @keyframes toAppear {
    100% {
      opacity: 1;
    }
  }
  .icon {
    height: 80px;
    width: auto;
    margin: 20px auto;
    display: block;
  }
  .text-overlay {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    width: max-content;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    opacity: 0;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    animation: toAppear 2s 1500ms ease forwards 1;
  }
}

.full-width-header {
  width: 100%;
  min-height: 500px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--neutral-8);
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(/src/assets/img/grid.webp);
    // background-image: radial-gradient(var(--neutral-10) 20%, transparent 20%);
    background-size: 800px 800px;
    background-repeat: repeat;
    display: block;
    position: absolute;
    z-index: 2;
    opacity: 0.2;
    filter: invert(1);
  }

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom left, var(--primary) -100%, transparent 50%),
      radial-gradient(ellipse at bottom right, var(--secondary-bg) -100%, transparent 50%);
    display: block;
    position: absolute;
    z-index: 1;
  }

  > * {
    z-index: 3;
    position: relative;
  }
}
.dom-iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.filter-ui {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 20px;
  align-items: start;
  position: relative;
  z-index: 9999;
  margin-top: 40px;
  &.centre{
    justify-content: center;
  }
  > a{
    height: 54px;
    padding: 0 20px;
  border-radius: 10px;
  &:hover{
      box-shadow: inset 0 0 0 1px;
    }
  }
  [data-label] {
    &::before {
      content: attr(data-label);
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 900;
      position: absolute;
      bottom: calc(100% + 5px);
      left: 10px;
      opacity: 0.6;
    }
  }
}

.dropdown-wrapper {
  position: relative;
  width: 300px;
  height: 54px;
  background-color: var(--neutral-5);
  border-radius: 10px;
  position: relative;
  > svg{
    position: absolute;
    right: 0;
    top:50%;
    transform:translate(-20px, -50%);

  }
  &[wrapper-open="collapsed"] {
    [dropdown-selected="true"] {
      pointer-events: none;
      padding: 0 20px 0 0;
    }
    [dropdown-selected="false"] {
      display: none;
    }
  }
  &[wrapper-open="expanded"] {
    ul {
      display: grid;
      grid-auto-flow: row;
      gap: 10px;
      box-shadow: 0 0 50px -20px var(--black);
      [dropdown-selected="true"] {
        background-color: var(--neutral-8);
        grid-row: 1/2;
      padding: 0 20px 0 0;

      }
    }
    [dropdown-selected="true"] {
      background-color: var(--neutral-8);
    }
    [dropdown-selected="false"] {
    }
  }
  ul {
    list-style: none;
    margin: 8px 0 0 0;
    cursor: pointer;
    padding: 0px 0 8px 0;
    border-radius: 10px;
    background-color: var(--neutral-5);
    li, li a {
      padding: 0;
      width: calc(100% - 16px);
      margin-left: 8px;
      min-height: 38px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      font-size: 18px;
    }
    li{
      &:hover {
        background-color: var(--neutral-4);
      }
    }
  }
}

.button-flex-organiser {
  display: flex;
  gap: 4px;
  margin-right: auto;
  width: auto;
  background-color: var(--neutral-5);
  max-width: max-content;
  padding: 8px;
  border-radius: 10px;
  .btn {
    border-radius: 0px;
    padding: 10px 20px;
    &.disabled{
      cursor: no-drop;
        color: var(--neutral-4);
      &:hover {
        background-color: var(--neutral-6) !important;
        text-shadow: none !important;
      }
    }
    &:first-of-type {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &:last-of-type {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    &:not(.active) {
      background-color: var(--neutral-6);
      &:hover {
        background-color: var(--neutral-4);
      }
    }
    &.active {
      background-color: var(--primary);
      &:hover {
        background-color: var(--primary);
      }
    }
  }
}
