@import "./constants";

.brick-wall {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-grow: 1;
  width: 100%;

  .wallet-group {
    box-shadow: 0 0 0 1px var(--neutral-6);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--neutral-9);
    padding: 20px;
    border-radius: $radius1;
    position: relative;
    transition: 200ms ease;
    min-width: 300px;
    width: max-content;
    max-width: 80vw;
    margin-bottom: auto;
    &.wide {
      min-width: unset;
      width: 100%;
    }
    &.tile {
      width: calc($ui-width * 0.3 - 5px);
      min-width: calc($x-small/2 - 5px);
      max-width: 80vw;
      margin-bottom: 0;
      &.open {
        width: 100%;
      }
    }
    &.open {
      background: var(--neutral-8);
      box-shadow: 0 0 0 1px var(--neutral-5);
      h2 {
        opacity: 1;
        cursor: unset;
        [class*="imize-2"] {
          display: inherit;
        }
      }
      &:hover {
        box-shadow: 0 0 0 1px var(--neutral-9);
        h2 {
          opacity: 1;
        }
      }
    }
    .wallet-grid {
      display: flex;
      flex-direction: row;
      gap: 20px;
      columns: 2;
      gap: 20px;
      flex-wrap: wrap;
    }
    &:hover {
      box-shadow:
        0 0 0 1px var(--neutral-8),
        0 20px 80px -30px var(--black);
      z-index: 999;
      background: var(--neutral-8);

      h2 {
        opacity: 0.8;
        a {
          color: var(--primary);
        }
        [class*="imize-2"] {
          display: inherit;
        }
      }
    }

    h2 {
      cursor: pointer;
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 0px;
      display: flex;
      gap: 15px;
      opacity: 0.5;
      justify-content: space-between;
      &:first-child {
        flex-shrink: 0;
        flex-grow: 1;
      }
      &:last-child {
        flex-shrink: 1;
        flex-grow: 0;
      }
      [class*="imize-2"] {
        display: none;
      }
      .spinner {
      }
      a {
        transition: 200ms ease;
        cursor: pointer;

        &:hover {
          color: var(--secondary);
        }
      }

      .sub {
        font-weight: 200;
        font-size: 0.9rem;
      }
      .tile-controls {
        display: flex;
        gap: 15px;
        flex-wrap: wrap-reverse;
        margin-bottom: auto;
        justify-content: end;
        margin-top: 0;
      }
    }

    .block {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: start;
      gap: 10px;
      padding: 20px 30px 20px 20px;
      border-radius: 8px;
      overflow: hidden;
      margin-top: 10px;
      background-color: var(--neutral-6);

      position: relative;
      &:last-of-type {
        flex-grow: 0;
      }
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 200ms ease;
        box-shadow: inset 3px 0 0 0 var(--colour);
      }
      .head {
        display: flex;
        gap: 20px;
        align-items: start;
        justify-content: center;

        .head-text {
          display: flex;
          flex-direction: column;
          gap: 2px;
          .balance:not(.sub) {
            margin-top: 10px;
          }
          .sub {
            font-weight: 900;
            font-size: 0.8rem;
          }
          h3,
          p {
            margin: 0;
          }
        }

        .type {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 800;
          color: var(--neutral-3);
          grid-row: 1/2;
          grid-column: 2/3;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 5px 10px;
          line-height: 1;
          color: var(--colour);

          .badge {
            box-shadow: 0 0 0 2px;
            padding: 2px 6px;
            border-radius: 100px;
            font-size: 80%;
            font-weight: 600;
            display: inline-block;
            text-align: center;
          }
        }

        .star {
          color: var(--amber);
        }

        .title {
          font-size: 18px;
          grid-row: 2/3;
          grid-column: 2/3;
        }
      }
      &:hover{
        &:after{
        box-shadow: inset 6px 0 0 0 var(--colour);
          border-radius: $radius4;
        }
      }
    }
  }
  .balances-group {
    box-shadow: 0 0 0 1px var(--neutral-7);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--neutral-8);
    padding: 20px;
    border-radius: $radius1;
    position: relative;
    transition: 200ms ease;
    width: $ui-width - 40px;
    max-width: calc(80vw - 40px);

    .wallet-grid {
      display: flex;
      flex-direction: row;
      gap: 20px;
      columns: 2;
      gap: 20px;
      flex-wrap: wrap;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0px;
      text-transform: capitalize;
      display: flex;
      flex-direction: column;
      gap:5px;
      :first-child{
        margin-bottom: 5px;
      }
      .sub {
        font-weight: 200;
        font-size: 0.9rem;
        opacity:.6;

      }
      .tile-controls {
        display: flex;
        gap: 15px;
        flex-wrap: wrap-reverse;
        margin-bottom: auto;
        justify-content: end;
        margin-top: 0;
      }
    }

    .block {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: start;
      gap: 10px;
      padding: 20px 30px 20px 20px;
      border-radius: 8px;
      overflow: hidden;
      margin-top: 10px;
      background-color: var(--neutral-6);

      position: relative;
      &:last-of-type {
        flex-grow: 0;
      }
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 200ms ease;
        box-shadow: inset 3px 0 0 0 var(--colour);
      }
      .head {
        display: flex;
        gap: 20px;
        align-items: start;
        justify-content: center;

        .head-text {
          display: flex;
          flex-direction: column;
          gap: 2px;
          .balance:not(.sub) {
            margin-top: 10px;
          }
          .sub {
            font-weight: 900;
            font-size: 0.8rem;
            &.extra{
              font-weight: 600;
              font-size: 0.75rem;
              opacity:.3;
      
              }
          }
          h3,
          p {
            margin: 0;
          }
        }

        .type {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 800;
          color: var(--neutral-3);
          grid-row: 1/2;
          grid-column: 2/3;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 5px 10px;
          line-height: 1;
          color: var(--colour);

          .badge {
            box-shadow: 0 0 0 1px;
            padding: 2px 6px;
            border-radius: 100px;
            font-size: 80%;
            font-weight: 800;
            display: inline-block;
            text-align: center;
            font-size: 8px;
            line-height: 10px;
          }
        }

        .star {
          color: var(--amber);
        }

        .title {
          font-size: 18px;
          grid-row: 2/3;
          grid-column: 2/3;
        }
      }
      &:hover{
        &:after{
        box-shadow: inset 6px 0 0 0 var(--colour);
          border-radius: $radius4;
        }
      }
    }
  }
}

.coin-icon {
  height: 30px;
  max-width: 30px;
  border-radius: 40px;
  background-color: var(--colour);
}

.truncate {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 0;
}

.body {
  display: flex;
}

.balance {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.usdt,
.USDT,
.usd-t,
.USD-T {
  --colour: #00bc95;
}
.usdc,
.USDC,
.usd-c,
.USD-C {
  --colour: #1e88e5;
}
.zh,
.ZH {
  --colour: #0062ff;
}
.zhd,
.ZHD {
  --colour: #0099ff;
}
.btc,
.BTC,
.bitcoin,
.BITCOIN {
  --colour: #ff8f00;
}
.eth,
.ETH,
.ethereum,
.ETHEREUM,
.ether,
.ETHER {
  --colour: #5c6bc0;
}

.app-parent {
  iframe {
    border: 0;
    width: 100%;
    min-height: 500px;
    border-radius: 8px;
  }
}

.app-module {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vesting-table-ui {
  width: 100%;
  border-collapse: collapse;

  th {
    padding-bottom: 10px;
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 10px;
  }

  tr {
    transform: translateX(20px);
    opacity: 0;
    animation: slideInToLeft 400ms ease forwards 1;
    @for $i from 1 through 50 {
      &:nth-of-type(#{$i}) {
        animation-delay: 200ms * $i;
      }
    }
    &:nth-of-type(odd) {
      td {
        background: var(--neutral-5);
      }
    }

    td {
      padding: 10px;
      &:first-child {
        border-radius: 5px 0 0 5px;
        padding-left: 20px;
      }
      &:not(:first-child) {
        box-shadow: -21px 0 0 -20px var(--neutral-4);
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  &.wrap {
    flex-wrap: wrap;
  }
}
.col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


