$icomoon-font-family: "ico" !default;
$icomoon-font-path: "/src/assets/fonts/ico" !default;

$i-forum: "\ea27";
$i-bilateral: "\ea28";
$i-ethereum: "\ea1a";
$i-caret-right: "\ea23";
$i-caret-left: "\ea24";
$i-caret-up: "\ea25";
$i-caret-down: "\ea26";
$i-library: "\ea21";
$i-coins: "\ea1b";
$i-money: "\ea1b";
$i-banknote: "\ea22";
$i-bulb: "\ea20";
$i-fire: "\ea1c";
$i-danger: "\ea1c";
$i-flame: "\ea1c";
$i-hot: "\ea1c";
$i-attach_money: "\ea1d";
$i-local_fire_department: "\ea1e";
$i-whatshot: "\ea1f";
$i-activity: "\e900";
$i-airplay: "\e901";
$i-alert-circle: "\e902";
$i-alert-octagon: "\e903";
$i-alert-triangle: "\e904";
$i-align-center: "\e905";
$i-align-justify: "\e906";
$i-align-left: "\e907";
$i-align-right: "\e908";
$i-anchor: "\e909";
$i-aperture: "\e90a";
$i-archive: "\e90b";
$i-arrow-down: "\e90c";
$i-arrow-down-circle: "\e90d";
$i-arrow-down-left: "\e90e";
$i-arrow-down-right: "\e90f";
$i-arrow-left: "\e910";
$i-arrow-left-circle: "\e911";
$i-arrow-right: "\e912";
$i-arrow-right-circle: "\e913";
$i-arrow-up: "\e914";
$i-arrow-up-circle: "\e915";
$i-arrow-up-left: "\e916";
$i-arrow-up-right: "\e917";
$i-at-sign: "\e918";
$i-award: "\e919";
$i-bar-chart: "\e91a";
$i-bar-chart-2: "\e91b";
$i-battery: "\e91c";
$i-battery-charging: "\e91d";
$i-bell: "\e91e";
$i-bell-off: "\e91f";
$i-bluetooth: "\e920";
$i-bold: "\e921";
$i-book: "\e922";
$i-book-open: "\e923";
$i-bookmark: "\e924";
$i-box: "\e925";
$i-briefcase: "\e926";
$i-calendar: "\e927";
$i-camera: "\e928";
$i-camera-off: "\e929";
$i-cast: "\e92a";
$i-check: "\e92b";
$i-check-circle: "\e92c";
$i-check-square: "\e92d";
$i-chevron-down: "\e92e";
$i-chevron-left: "\e92f";
$i-chevron-right: "\e930";
$i-chevron-up: "\e931";
$i-chevrons-down: "\e932";
$i-chevrons-left: "\e933";
$i-chevrons-right: "\e934";
$i-chevrons-up: "\e935";
$i-chrome: "\e936";
$i-circle: "\e937";
$i-clipboard: "\e938";
$i-clock: "\e939";
$i-cloud: "\e93a";
$i-cloud-drizzle: "\e93b";
$i-cloud-lightning: "\e93c";
$i-cloud-off: "\e93d";
$i-cloud-rain: "\e93e";
$i-cloud-snow: "\e93f";
$i-code: "\e940";
$i-codepen: "\e941";
$i-codesandbox: "\e942";
$i-coffee: "\e943";
$i-columns: "\e944";
$i-command: "\e945";
$i-compass: "\e946";
$i-copy: "\e947";
$i-corner-down-left: "\e948";
$i-corner-down-right: "\e949";
$i-corner-left-down: "\e94a";
$i-corner-left-up: "\e94b";
$i-corner-right-down: "\e94c";
$i-corner-right-up: "\e94d";
$i-corner-up-left: "\e94e";
$i-corner-up-right: "\e94f";
$i-cpu: "\e950";
$i-credit-card: "\e951";
$i-crop: "\e952";
$i-crosshair: "\e953";
$i-database: "\e954";
$i-delete: "\e955";
$i-disc: "\e956";
$i-dollar-sign: "\e957";
$i-download: "\e958";
$i-download-cloud: "\e959";
$i-droplet: "\e95a";
$i-edit: "\e95b";
$i-edit-2: "\e95c";
$i-edit-3: "\e95d";
$i-external-link: "\e95e";
$i-eye: "\e95f";
$i-eye-off: "\e960";
$i-facebook: "\e961";
$i-fast-forward: "\e962";
$i-feather: "\e963";
$i-figma: "\e964";
$i-file: "\e965";
$i-file-minus: "\e966";
$i-file-plus: "\e967";
$i-file-text: "\e968";
$i-film: "\e969";
$i-filter: "\e96a";
$i-flag: "\e96b";
$i-folder: "\e96c";
$i-folder-minus: "\e96d";
$i-folder-plus: "\e96e";
$i-framer: "\e96f";
$i-frown: "\e970";
$i-gift: "\e971";
$i-git-branch: "\e972";
$i-git-commit: "\e973";
$i-git-merge: "\e974";
$i-git-pull-request: "\e975";
$i-github: "\e976";
$i-gitlab: "\e977";
$i-globe: "\e978";
$i-grid: "\e979";
$i-hard-drive: "\e97a";
$i-hash: "\e97b";
$i-headphones: "\e97c";
$i-heart: "\e97d";
$i-help-circle: "\e97e";
$i-hexagon: "\e97f";
$i-home: "\e980";
$i-image: "\e981";
$i-inbox: "\e982";
$i-info: "\e983";
$i-instagram: "\e984";
$i-italic: "\e985";
$i-key: "\e986";
$i-layers: "\e987";
$i-layout: "\e988";
$i-life-buoy: "\e989";
$i-link: "\e98a";
$i-link-2: "\e98b";
$i-linkedin: "\e98c";
$i-list: "\e98d";
$i-loader: "\e98e";
$i-lock: "\e98f";
$i-log-in: "\e990";
$i-log-out: "\e991";
$i-mail: "\e992";
$i-map: "\e993";
$i-map-pin: "\e994";
$i-maximize: "\e995";
$i-maximize-2: "\e996";
$i-meh: "\e997";
$i-menu: "\e998";
$i-message-circle: "\e999";
$i-message-square: "\e99a";
$i-mic: "\e99b";
$i-mic-off: "\e99c";
$i-minimize: "\e99d";
$i-minimize-2: "\e99e";
$i-minus: "\e99f";
$i-minus-circle: "\e9a0";
$i-minus-square: "\e9a1";
$i-monitor: "\e9a2";
$i-moon: "\e9a3";
$i-more-horizontal: "\e9a4";
$i-more-vertical: "\e9a5";
$i-mouse-pointer: "\e9a6";
$i-move: "\e9a7";
$i-music: "\e9a8";
$i-navigation: "\e9a9";
$i-navigation-2: "\e9aa";
$i-octagon: "\e9ab";
$i-package: "\e9ac";
$i-paperclip: "\e9ad";
$i-pause: "\e9ae";
$i-pause-circle: "\e9af";
$i-pen-tool: "\e9b0";
$i-percent: "\e9b1";
$i-phone: "\e9b2";
$i-phone-call: "\e9b3";
$i-phone-forwarded: "\e9b4";
$i-phone-incoming: "\e9b5";
$i-phone-missed: "\e9b6";
$i-phone-off: "\e9b7";
$i-phone-outgoing: "\e9b8";
$i-pie-chart: "\e9b9";
$i-play: "\e9ba";
$i-play-circle: "\e9bb";
$i-plus: "\e9bc";
$i-plus-circle: "\e9bd";
$i-plus-square: "\e9be";
$i-pocket: "\e9bf";
$i-power: "\e9c0";
$i-printer: "\e9c1";
$i-radio: "\e9c2";
$i-refresh-ccw: "\e9c3";
$i-refresh-cw: "\e9c4";
$i-repeat: "\e9c5";
$i-rewind: "\e9c6";
$i-rotate-ccw: "\e9c7";
$i-rotate-cw: "\e9c8";
$i-rss: "\e9c9";
$i-save: "\e9ca";
$i-scissors: "\e9cb";
$i-search: "\e9cc";
$i-send: "\e9cd";
$i-server: "\e9ce";
$i-settings: "\e9cf";
$i-share: "\e9d0";
$i-share-2: "\e9d1";
$i-shield: "\e9d2";
$i-shield-off: "\e9d3";
$i-shopping-bag: "\e9d4";
$i-shopping-cart: "\e9d5";
$i-shuffle: "\e9d6";
$i-sidebar: "\e9d7";
$i-skip-back: "\e9d8";
$i-skip-forward: "\e9d9";
$i-slack: "\e9da";
$i-slash: "\e9db";
$i-sliders: "\e9dc";
$i-smartphone: "\e9dd";
$i-smile: "\e9de";
$i-speaker: "\e9df";
$i-square: "\e9e0";
$i-star: "\e9e1";
$i-stop-circle: "\e9e2";
$i-sun: "\e9e3";
$i-sunrise: "\e9e4";
$i-sunset: "\e9e5";
$i-tablet: "\e9e6";
$i-tag: "\e9e7";
$i-target: "\e9e8";
$i-terminal: "\e9e9";
$i-thermometer: "\e9ea";
$i-thumbs-down: "\e9eb";
$i-thumbs-up: "\e9ec";
$i-toggle-left: "\e9ed";
$i-toggle-right: "\e9ee";
$i-tool: "\e9ef";
$i-trash: "\e9f0";
$i-trash-2: "\e9f1";
$i-trello: "\e9f2";
$i-trending-down: "\e9f3";
$i-trending-up: "\e9f4";
$i-triangle: "\e9f5";
$i-truck: "\e9f6";
$i-tv: "\e9f7";
$i-twitch: "\e9f8";
$i-twitter: "\e9f9";
$i-type: "\e9fa";
$i-umbrella: "\e9fb";
$i-underline: "\e9fc";
$i-unlock: "\e9fd";
$i-upload: "\e9fe";
$i-upload-cloud: "\e9ff";
$i-user: "\ea00";
$i-user-check: "\ea01";
$i-user-minus: "\ea02";
$i-user-plus: "\ea03";
$i-user-x: "\ea04";
$i-users: "\ea05";
$i-video: "\ea06";
$i-video-off: "\ea07";
$i-voicemail: "\ea08";
$i-volume: "\ea09";
$i-volume-1: "\ea0a";
$i-volume-2: "\ea0b";
$i-volume-x: "\ea0c";
$i-watch: "\ea0d";
$i-wifi: "\ea0e";
$i-wifi-off: "\ea0f";
$i-wind: "\ea10";
$i-x: "\ea11";
$i-x-circle: "\ea12";
$i-x-octagon: "\ea13";
$i-x-square: "\ea14";
$i-youtube: "\ea15";
$i-zap: "\ea16";
$i-zap-off: "\ea17";
$i-zoom-in: "\ea18";
$i-zoom-out: "\ea19";

